<div class="rightside default-content-padding settings-detail-pane f6-target scrollable" tabindex="0" role="main"
  aria-label="Portal" style="box-shadow: none;">
<h2>sample html copy</h2>
  <img src="./assets/sample.png" value="Sample">
  <div class="scrollable-pane">
    <div data-point="io.ox/portal/settings/detail/view" class="io-ox-portal-settings">
      <h1>Portal settings</h1>
      <div class="form-group buttons">
        <div class="btn-group-portal" forceopen="false"><button type="button"
            class="btn btn-primary dropdown-toggle add-widget" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i><span>Add widget </span><i
              class="fa fa-caret-down" aria-hidden="true"></i></button>
          <ul class="dropdown-menu io-ox-portal-settings-dropdown" role="menu" style="">
            <li role="presentation"><a href="#" role="menuitem" data-type="mail">Inbox</a></li>
          </ul>
        </div>
        <div class="sr-only" role="log" aria-live="assertive" aria-relevant="additions text" id="notification_550">
        </div>
      </div>
      <ol class="list-group list-unstyled settings-list-view">
        <li class="settings-list-item draggable" data-widget-id="birthdays_0" tabindex="0"
          aria-describedby="aria-description-576">
          <div class="sr-only" id="aria-description-576">Use cursor keys to reorder items</div><a href="#" role="button"
            aria-pressed="false" class="drag-handle" title="Drag to reorder widget"><i class="fa fa-bars"
              aria-hidden="true"></i></a><span
            class="list-item-title widget-color-default widget-birthdays">Birthdays</span>
          <div class="list-item-controls">
            <div class="action dropdown colors"><a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-label="Color Birthdays">Color</a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="default"
                    class="active-color"><span class="color-example color-default"></span>Default</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="black"><span
                      class="color-example color-black"></span>Black</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="gray"><span
                      class="color-example color-gray"></span>Gray</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="red"><span
                      class="color-example color-red"></span>Red</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="orange"><span
                      class="color-example color-orange"></span>Orange</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightgreen"><span class="color-example color-lightgreen"></span>Light green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="green"><span
                      class="color-example color-green"></span>Green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightblue"><span class="color-example color-lightblue"></span>Light blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="blue"><span
                      class="color-example color-blue"></span>Blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="purple"><span
                      class="color-example color-purple"></span>Purple</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="pink"><span
                      class="color-example color-pink"></span>Pink</a></li>
              </ul>
            </div><a href="#" role="button" data-action="toggle" class="action"
              aria-label="Disable Birthdays">Disable</a><a href="#" role="button" class="remove" data-action="delete"
              aria-label="Remove Birthdays"><i class="fa fa-trash-o" aria-hidden="true"
                title="Remove Birthdays"></i></a>
          </div>
        </li>
        <li class="settings-list-item draggable" data-widget-id="calendar_0" tabindex="0"
          aria-describedby="aria-description-577">
          <div class="sr-only" id="aria-description-577">Use cursor keys to reorder items</div><a href="#" role="button"
            aria-pressed="false" class="drag-handle" title="Drag to reorder widget"><i class="fa fa-bars"
              aria-hidden="true"></i></a><span
            class="list-item-title widget-color-red widget-calendar">Appointments</span>
          <div class="list-item-controls">
            <div class="action dropdown colors"><a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-label="Color Appointments">Color</a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="default"><span class="color-example color-default"></span>Default</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="black"><span
                      class="color-example color-black"></span>Black</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="gray"><span
                      class="color-example color-gray"></span>Gray</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="red"
                    class="active-color"><span class="color-example color-red"></span>Red</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="orange"><span
                      class="color-example color-orange"></span>Orange</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightgreen"><span class="color-example color-lightgreen"></span>Light green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="green"><span
                      class="color-example color-green"></span>Green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightblue"><span class="color-example color-lightblue"></span>Light blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="blue"><span
                      class="color-example color-blue"></span>Blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="purple"><span
                      class="color-example color-purple"></span>Purple</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="pink"><span
                      class="color-example color-pink"></span>Pink</a></li>
              </ul>
            </div><a href="#" role="button" data-action="toggle" class="action"
              aria-label="Disable Appointments">Disable</a><a href="#" role="button" class="remove" data-action="delete"
              aria-label="Remove Appointments"><i class="fa fa-trash-o" aria-hidden="true"
                title="Remove Appointments"></i></a>
          </div>
        </li>
        <li class="settings-list-item draggable" data-widget-id="userSettings_0" tabindex="0"
          aria-describedby="aria-description-578" aria-grabbed="false" style="">
          <div class="sr-only" id="aria-description-578">Use cursor keys to reorder items</div><a href="#" role="button"
            aria-pressed="false" class="drag-handle" title="Drag to reorder widget"><i class="fa fa-bars"
              aria-hidden="true"></i></a><span class="list-item-title widget-color-default widget-userSettings">User
            data</span>
          <div class="list-item-controls">
            <div class="action dropdown colors"><a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-label="Color User data">Color</a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="default"
                    class="active-color"><span class="color-example color-default"></span>Default</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="black"><span
                      class="color-example color-black"></span>Black</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="gray"><span
                      class="color-example color-gray"></span>Gray</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="red"><span
                      class="color-example color-red"></span>Red</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="orange"><span
                      class="color-example color-orange"></span>Orange</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightgreen"><span class="color-example color-lightgreen"></span>Light green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="green"><span
                      class="color-example color-green"></span>Green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightblue"><span class="color-example color-lightblue"></span>Light blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="blue"><span
                      class="color-example color-blue"></span>Blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="purple"><span
                      class="color-example color-purple"></span>Purple</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="pink"><span
                      class="color-example color-pink"></span>Pink</a></li>
              </ul>
            </div><a href="#" role="button" data-action="toggle" class="action"
              aria-label="Disable User data">Disable</a><a href="#" role="button" class="remove" data-action="delete"
              aria-label="Remove User data"><i class="fa fa-trash-o" aria-hidden="true"
                title="Remove User data"></i></a>
          </div>
        </li>
        <li class="settings-list-item draggable" data-widget-id="tasks_0" tabindex="0"
          aria-describedby="aria-description-579">
          <div class="sr-only" id="aria-description-579">Use cursor keys to reorder items</div><a href="#" role="button"
            aria-pressed="false" class="drag-handle" title="Drag to reorder widget"><i class="fa fa-bars"
              aria-hidden="true"></i></a><span class="list-item-title widget-color-purple widget-tasks">My tasks</span>
          <div class="list-item-controls">
            <div class="action dropdown colors"><a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-label="Color My tasks">Color</a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="default"><span class="color-example color-default"></span>Default</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="black"><span
                      class="color-example color-black"></span>Black</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="gray"><span
                      class="color-example color-gray"></span>Gray</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="red"><span
                      class="color-example color-red"></span>Red</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="orange"><span
                      class="color-example color-orange"></span>Orange</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightgreen"><span class="color-example color-lightgreen"></span>Light green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="green"><span
                      class="color-example color-green"></span>Green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightblue"><span class="color-example color-lightblue"></span>Light blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="blue"><span
                      class="color-example color-blue"></span>Blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="purple"
                    class="active-color"><span class="color-example color-purple"></span>Purple</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="pink"><span
                      class="color-example color-pink"></span>Pink</a></li>
              </ul>
            </div><a href="#" role="button" data-action="toggle" class="action"
              aria-label="Disable My tasks">Disable</a><a href="#" role="button" class="remove" data-action="delete"
              aria-label="Remove My tasks"><i class="fa fa-trash-o" aria-hidden="true" title="Remove My tasks"></i></a>
          </div>
        </li>
        <li class="settings-list-item draggable" data-widget-id="quota_0" tabindex="0"
          aria-describedby="aria-description-580">
          <div class="sr-only" id="aria-description-580">Use cursor keys to reorder items</div><a href="#" role="button"
            aria-pressed="false" class="drag-handle" title="Drag to reorder widget"><i class="fa fa-bars"
              aria-hidden="true"></i></a><span class="list-item-title widget-color-orange widget-quota">Quota</span>
          <div class="list-item-controls">
            <div class="action dropdown colors"><a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-label="Color Quota">Color</a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="default"><span class="color-example color-default"></span>Default</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="black"><span
                      class="color-example color-black"></span>Black</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="gray"><span
                      class="color-example color-gray"></span>Gray</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="red"><span
                      class="color-example color-red"></span>Red</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="orange"
                    class="active-color"><span class="color-example color-orange"></span>Orange</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightgreen"><span class="color-example color-lightgreen"></span>Light green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="green"><span
                      class="color-example color-green"></span>Green</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem"
                    data-color="lightblue"><span class="color-example color-lightblue"></span>Light blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="blue"><span
                      class="color-example color-blue"></span>Blue</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="purple"><span
                      class="color-example color-purple"></span>Purple</a></li>
                <li role="presentation"><a href="#" data-action="change-color" role="menuitem" data-color="pink"><span
                      class="color-example color-pink"></span>Pink</a></li>
              </ul>
            </div><a href="#" role="button" data-action="toggle" class="action" aria-label="Disable Quota">Disable</a><a
              href="#" role="button" class="remove" data-action="delete" aria-label="Remove Quota"><i
                class="fa fa-trash-o" aria-hidden="true" title="Remove Quota"></i></a>
          </div>
        </li>
      </ol>
      <fieldset>
        <legend class="sectiontitle">
          <h2>Smartphone settings:</h2>
        </legend>
        <div class="form-group">
          <div class="checkbox custom small"><label for="custom-569"><input type="checkbox" class="sr-only"
                id="custom-569" name="mobile/summaryView"><i class="toggle" aria-hidden="true"></i>Reduce to widget
              summary</label></div>
        </div>
      </fieldset>
    </div>
  </div>
</div>